
.drag-element {
    display: flex;
    flex-flow: column nowrap;
    gap: 3px;

}

.drag-element_circle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
}

