.header {
    display: grid;
    grid-template-columns: 7fr 1fr;
    background: #F6F6F6;
    padding: 10px;
    text-align: center;

}

.header__left {
    display: flex;
    gap: 20px;
    font-size: 20px;
    line-height: 30px;
}

.header__right {
    display: flex;
    gap: 20px;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    justify-content: flex-end;
}

.header__login {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 15px;


}

.header__exit {
    display: flex;
    gap: 8px;
    cursor: pointer;


}

.header__exit.header__exit_maximize {
    padding: 5px;
    border: 2px solid transparent;


}

.header__exit.header__exit_maximize:hover {
    filter: invert(19%) sepia(86%) saturate(4269%) hue-rotate(218deg) brightness(98%) contrast(105%);

}

.header__exit.header__exit_maximize:focus {
    border: 2px solid rgba(69, 165, 255, 0.5);
    border-radius: 7px;
}